.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .List {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    li {
      display: flex;
      flex: 1;
      margin-bottom: 20px;

      img {
        transition: transform linear 0.33s;
      }

      &.top {
        flex-direction: column;
        img {
          transform: rotate(270deg);
        }
      }

      &.left {
        flex-direction: row;
        .title {
          flex-direction: row-reverse;
        }
        img {
          transform: rotate(180deg);
        }
      }

      &.bottom {
        flex-direction: column-reverse;
        img {
          transform: rotate(90deg);
        }
      }

      &.right {
        flex-direction: row-reverse;
        .title {
          flex-direction: row-reverse;
        }
      }
      
      .title {
        display: flex;
        align-items: center;
        min-width: 200px;
        text-align: left;
        margin-right: 20px;
        
        cursor: pointer;
        h3 {
          display: inline-block;
        }

        img {
          object-fit: contain;
        }
      }

      

      .text {
        text-align: left;
        transition: max-height ease-in-out 0.7s;
        overflow: hidden;
      }

      &.expanded .text {
        max-height: 400px;
      }
      
      &.collapsed .text {
        max-height: 0;
      }

    }
  }